.logo-text {
  color: white;
  font-size: 3em;
  font-weight: 800;
}

.controls {
  height: 120px;
  padding: 0 5% 0 5%;
  margin-bottom: 2.5%;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.search-input {
  margin-right: 10px;
  width: 300px;
  border: none;
  font-size: 2em;
  caret-color: #002868;
  padding: 10px;
}

.search-submit-button {
  background-color: white;
  color: black;
  border: none; }

.search-submit-button:hover {
  background-color: black;
  color: white; }

@media (max-width: 775px) {
  .controls {
    height: 160px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-text {
    text-align: center;
    font-size: 2em;
  }

  .search-input {
    font-size: 1em;
    width: 170px;
    margin-left: 10px;
  }
}
