.card {
  border: 2px blue solid;
  width: 200px; }

h2 {
  text-align: center; }

ul {
  list-style: none; }

.good {
  color: green; }

.bad {
  color: red; }

  .isClicked {
    border-color: red;
  }
